.content {
    min-height: auto;
}

/* 인트로 section */
.intro{
    display:flex;
    flex-direction: column;
    align-items: center; /*중양 정렬*/
    text-align: center;
    margin-bottom: 20px;
}

.highlight{
    font-weight : bold;
}

/* 게시글 헤더 */
.post-header {
    display: flex;
    justify-content: flex-end; /* 버튼을 오른쪽으로 정렬 */
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.post-empty{
    justify-content: center;
    margin-top : 5px;

    color: var(--gray);
    font-size: 1.5em;
    font-weight: bold;
}

#post-container{
    width : 500px;
    margin: 0 auto; /* 중앙 정렬을 위해 추가 */
}

/* 게시글 리스트 */
.post-list {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-white);
    border: 1px solid var(--border-light);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    clear: both
}

.post-title {
    padding: 10px;
    background-color: var(--bg-white);
    border-bottom: 1px solid var(--border-light);
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 

    text-align: left;
}

.post-title:hover {
    background-color: var(--highlight-hover);
}

.post-item .date {
    font-size: 0.875rem;
    color: var(--font-grey);
}

.post-meta {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items:center;
}


a, .author-info {
    color: var(--font-grey);
}
.date {
    color: var(--font-grey);
    font-size: 0.9em;
}
.author-info{
    display: flex;
    /* padding-left: 10px; */
    padding: 10px;
    align-items: center;
    background-color: var(--bg-white);
    border-radius: 10px;

}

#loading-animation-container{
    width: 100px;
    height: 100px;
    display: none;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    /* text-align: center; */
}

#loading-animation-container.active{
    display: block;
}
