/* 
   0. font 설정
   1. root
   2. body
   3, header (상단바)
   4. a
   5. create-button (보라색)
   6. 에러 메시지
   7. 뒤로가기
   */
@import url('./variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "HeaderFont", sans-serif;
    background-color: var(--bg-light);
}


.header{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-md);
    background-color: var(--bg-light);
    border-bottom: 1px solid var(--gray-light);
}

.header h1 {
    position: static; /* absolute 제거 */
    /* flex: 0 1 auto; flex-grow: 0, flex-shrink: 1, flex-basis: auto로 변경 */
    /* flex: 1; */
    width: 500px;
    text-align: center; /* 텍스트 중앙 정렬 */
    margin: 0;
}

/* 뒤로가기 버튼 */
.back-button button{
    background-color: transparent;
    border: none;
    color: var(--gray);
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

.back-button {
    width: 40px;
}

/* 버튼 스타일 */
.create-button{
    padding: var(--spacing-sm) var(--spacing-md);
    background-color: var(--btn-background);
    color: var(--white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: var(--spacing-sm);
    margin-bottom: var(--spacing-md);
}

.create-button:hover{
    background-color: var(--btn-hover);
}



/* 에러 메시지 */
.error-message{
    display: none;
    color: var(--error-color);
    font-size: 0.8em;
}

/* 링크 스타일 */
a {
    text-decoration: none;
    color: var(--gray);
    font-size: 0.8em;
}

/* 공통 컨텐츠 레이아웃 */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* 수직 중앙 정렬 추가 */
    width: 100%;
    padding: var(--spacing-md);
    min-height: calc(100vh - 60px); /* header 높이를 제외한 전체 높이 */
}

/* font 설정 */
@font-face {
    font-family: 'HeaderFont';
    src: url('../Font/Moneygraphy-Pixel.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

/* 기본 폰트 스타일 */
.font-default{
    font-family: 'HeaderFont', sans-serif;
    font-size: 18px;
    line-height: 48px;
    color: var(--font-color);
}

/* 폼 요소들의 폰트 상속 설정 */
button{
    font-family: inherit;
}

input,
select,
textarea{
    font-family: inherit;
    font-weight: 100;
}
