#signupForm {
    max-width: 280px; /* Increase the maximum width as needed */
    width: 100%; /* Ensure it takes up the full width of its parent */
    padding: var(--spacing-md); /* Optional: Add padding for better spacing */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

/* 입력란 */
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Full width */
    max-width: 300px; /*Maximum width */
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-xs);

}

.input-group label {
    margin-right: var(--spacing-sm); /* 레이블과 입력 필드 간격 */
    align-items: flex-start;
}

.input-group input {
    width: 100%;
    height: 33px;
    padding: 0 10px;
    box-shadow: 0px 4px 4px var(--gray-light);  /* 중간 톤 핑크 */
    border-radius: 5px;
    margin-bottom: var(--spacing-xs);
}

/* 프로필 이미지 */
.profile-img-container {
    position: relative;
    display : inline-block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%; /* 동그라미 모양으로 만들기 */
    overflow: hidden; /* 이미지가 컨테이너를 벗어나지 않도록 설정 */
    background: var(--gray-light); /* 대체 배경색 설정 */
    cursor: pointer; /* 클릭할 수 있도록 커서 변경 */
}

/* 프로필 이미지 스타일 */
.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 잘리지 않도록 설정 */
}

.change-button {
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    border-radius: 5%;
    padding: var(--spacing-xs) var(--spacing-sm);
    cursor: pointer;
}

.profile-img-container:hover{
    background-color: var(--gray-hover);;
}
.profile-img-container:hover .change-button {
    display: block;
    background-color: var(--bg-white);
}

/* 버튼 스타일 */
.button{
    display : flex;
    justify-content: center;
    width: 50%;
    background-color: var(--btn-background);
    color : var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.font-button{
    font-family: 'HeaderFont','Inter', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 48px;
    color: var(--white);
    margin: var(--spacing-sm) 0;
}

/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px; /* 모달의 고정 너비 */
    height: 175px;
    border: 1px solid var(--border-line);
    background-color: var(--bg-white);
    box-shadow: 0px 4px 4px var(--gray-light);
    border-radius: 10px;
    z-index: 1000;
}
/* 모달 내용 스타일 */
.modal-content {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: var(--spacing-md);
    text-align: center;
}
.modal-content h4 {
    margin-bottom: var(--spacing-sm);
    font-size: 24px;
    margin: 0 auto;
}

#welcome-message {
    margin: var(--spacing-sm) 0;
    color: var(--font-grey);
    font-size: 20px;
}

/* 모달 버튼 스타일링 */
.modal-close {
    background-color: var(--primary-color);
    color: var(--font-black);
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* 모달 애니메이션 */
@keyframes fadeIn {
    /* 시작 상태 (0%) */
    from {opacity: 0;}
    /* 끝나는 상태 (100%) */
    to {opacity: 1;}
}

/* 모달이 보일 때 애니메이션 효과 */
.modal.show {
    display: block;
    animation: fadeIn 0.8s ease-in-out;
}