.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* 본문 정보 */
.post-header{
    border-bottom : 1px solid #ddd;
}
.author-meta{
    display:flex;
    justify-content: space-between;
    margin : 10px;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 추가: 수직 정렬 */
}

/* 본문 사진+글 */
.post-img{
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    max-width: 350px;
    height : auto;
    margin: 30px;
}

.post-content{
    padding-top :30px;
    padding-bottom : 50px;

    width : 100%;
    max-width: 360px;
    background-color: #F4F5F7;
    /* text-align: center; */
    /* 줄바꿈과 공백을 보존 + 자동 줄바꿈 적용 */
    white-space: pre-wrap;
    word-break: break-word;
}

/* 좋아요,댓글,조회수 */
.btn-meta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.like-button-container{
    position: relative;
    display: inline-block;  /* 다른 버튼들과 같은 흐름 유지 */
}

.likeNum-btn,
.commentNum-btn,
.view-btn {
    padding: 10px;
    margin: 10px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    font-size: 0.9em;
    font-weight: bolder;
}

/* 좋아요 버튼 */

.likeNum-btn{
    cursor: pointer;
}
.likeNum-btn:hover{
    background-color: #8F8F8F;
}

.likeNum-btn.active{
    background-color: #BFBFBF;
}



/* 좋아요 애니메이션 */
#like-animation-container {
    position: absolute;
    width: 50px;
    height: 50px;
    pointer-events: none;
    transform: translate(-50%);
    z-index: 1;
    left: 75%;
    bottom: 50%;
}


/* 댓글 section -> 폭 조절 */
.comment{
    width : 100%;
    max-width: 360px;
    margin: 0 auto; /* 가운데 정렬 */
    padding: 20px; /* 여백 추가 */
}

/* 댓글 작성란 */

fieldset{
    display: block;
    border: none;
    padding: 0;
}

.write-area{
    height: 80px;
}
.comment-text{
    position: relative;
    border: none;
    /* border-radius: 5px; */
    width:100%;
    height : 100%;
    padding: 10px;
    resize: none;
    box-sizing: border-box; /* padding과 border를 포함하여 크기를 계산 */
    font : inherit;
    font-size: 0.8em;
}

.upload {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    background-color: #FFFFFF;
    border-top: 1px solid #ddd;

  }

.create-button {
    margin: 0;
    padding: 5px 25px;
}


/*댓글 확인란*/

.comment-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style-type:none;
    padding-top: 20px;
    margin : 0;
}

.comment-item {
    padding: 10px;
    margin-bottom: 10px;
    /* border: 1px solid #ddd; */
    /* border-radius: 10px; */
    background-color: #f9f9f9;

    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.comment-date {
    font-size: 0.8em;
    color: #888;
    margin-left: 10px;
}

.comment-context {
    margin-bottom: 10px;
}

.comment-btn{
    display:flex;
    justify-content: flex-end;
}
.edit-btn,
.delete-btn{
    align-self: flex-end;
    margin-left: 5px;
    padding: 4px 10px;
    background-color: #F4F5F7;
    color: #000000;
    border: 1px solid #ACA0EB;
    border-radius: 5px;
    cursor: pointer;
}




/*.comment-create{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width : 100%;
    height : 90px;
    border-radius: 10px;
    background-color:#FFFFFF;
}*/