/* 1. root
   2. body
   3, header (상단바)
   4. a
   5. button (보라색)
   6. 에러 메시지*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #F4F5F7; */
}

body {
    font-family: "Inter", sans-serif;
    background-color: #F4F5F7;
}

.header{
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between;  */
    padding:20px;
    background-color: #F4F5F7;
    border-bottom: 1px solid #ddd;

    /* text-align: center; */
}

/* 절대 위치에 고정 */
.header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

a {
    text-decoration: none;
    color: #6C6C6C;
    font-size: 0.8em;
}

.create-button{
    padding: 10px 20px;
    background-color: #ACA0EB;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    /* float :right; */
    /* align-self: flex-end; */
}

.create-button:hover{
    background-color: #8E7EDF;
}

.error-message{
    display: none;
    color: red;
    font-size: 0.8em;
}


